<center><h1>~: Search Page :~</h1></center>

<hr><hr>
<br><br>


<%= render :partial => "crawlers/search_box" %>


<% if @links_list.present? %>
  <div style="padding: 30px 30px 0 30px;">
  <fieldset>
    <legend>Search Results</legend>
    <% @links_list.each do |link| %>
      <div style="padding: 10px 30px 10px 30px;">
        <span><%= link_to "#{link}", search_data_path(:link => link, :search_word => @search_word) %></span>
      </div>
    <% end %>
  </fieldset>
  </div>
<% else %>
  <div style="padding: 30px 30px 0 30px;">
    No Search Results..
  </div>
<% end %>


<style>
    span {
        font-weight: bold;
        color: blue;
    }
</style>
